* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.square {
    border: 1px solid black;
}

#promptBtn {
    position: absolute;
    top: 5px;
    left: 5px;
}